@media(max-width:768px){

    .navbar ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100vh - 100px);
        position: absolute;
        top: 100px;
        background-color: #fefefe;
        left: 0;
        display: none;
    }
    .navbar i{
        display: flex;
    }

    #toggle-menu:checked ~ ul{
        display: flex;
    }

    #hero{
        text-align: center;
    }

    .heroContainer-text{
        align-items: center;
        justify-content: center;
    }

    .heroContainer-img{
        display: none;
    }

    .action{
        margin: 10px;
    }

    #section-card-description{
        flex-wrap: wrap;
    }

    #section-contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:375px){
/*    .navbar ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100vh - 100px);
        position: absolute;
        top: 100px;
        background-color: #fefefe;
        left: 0;
        display: none;
    }
    .navbar i{
        display: flex;
    }

    #toggle-menu:checked ~ ul{
        display: flex;
    }*/

    #hero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .action{
        flex-direction: column;
    }

    h1{
        text-align: center;
    }

    .mark{
        flex-wrap: wrap;

    }

    .maps{
        width: 250px;
        height: 200px;
    }
    
}